/* header */
.header {
  position: fixed;
  z-index: 10;
  top: 30px;
  left: 0;
  width: 100%;

  &__main {
    background: white;
    border-radius: 40px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  }

  &__icon-menu {
    display: none;
  }

  &__logo {
    top: 11px;
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;

    &-item {
      &--active {
        a {
          color: var(--color-pink);
        }
      }
      a {
        display: inline-block;
        padding: 25px 20px;
        color: var(--color-black);
        font-size: 15px;
      }
    }
  }
}

@media (width < 1199px) {
  .header {
    &__nav-item {
      a {
        font-size: 15px;
        padding: 25px 10px;
      }
    }
  }
}

@media (width < 991px) {
  .header {
    &__main {
      justify-content: space-between;
    }
    &__logo {
      margin-left: 20px;
    }
    &__icon-menu {
      display: block;
      margin-right: 20px;
      i {
        display: inline-block;
        padding: 20px;
        font-size: 25px;
      }
    }
    &__nav {
      display: none;
    }
  }
}
/* end header */

/* section1 */
.section1 {
  background-image: url(../img/banner-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 860px;
}

.section1 .row {
  padding: 0 240px;
  text-align: center;
  color: white;
}

.section1 .row .inner-title {
  margin-bottom: 40px;
}

.section1 .row .inner-title .strategy:hover {
  color: var(--color-pink);
}

.section1 .row .inner-title .business:hover {
  color: var(--color-pink);
}

.section1 .row .inner-desc {
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  .section1 .row {
    padding: 0;
  }
}

/* end section1 */

/* section2 */
.section2 {
  position: relative;
  margin-top: -312px;
  padding: 40px;
}

@keyframes go-up {
  0% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0%);
  }
}

.section2 .row .inner-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 20px;
  cursor: pointer;
  padding: 15px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  animation: go-up 2s ease-out;
}

.section2 .row .inner-item:hover > .icon {
  background: var(--color-pink);
}

.section2 .row .inner-item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-purple);
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin: 20px 0;
}

.section2 .row .inner-item .title {
  margin-bottom: 20px;
  font-size: 18px;
  letter-spacing: 0.8;
}

.section2 .row .inner-item .desc {
  font-size: 13px;
  letter-spacing: 0.8;
  color: var(--color-text);
}

@media (max-width: 1199px) {
  .section2 {
    margin: 0;
  }
}

@media (max-width: 991px) {
  .section2 .row .inner-item {
    margin-bottom: 20px;
  }
}

/* end section2 */
/* section3 */
.section3 {
  margin-top: 100px;
}

.section3 .row .left-item {
  display: flex;
  justify-content: center;
  align-content: center;
}

@keyframes left-to-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.section3 .row .left-item img {
  width: 280px;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  animation: left-to-right 2s ease-out;
}

.section3 .row .right-item {
  height: 100%;
  padding: 50px;
  padding-left: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.section3 .row .right-item .desc {
  color: var(--color-text);
  text-align: justify;
}

@media (max-width: 991px) {
  .section3 .row .right-item {
    padding: 50px;
  }
}

/* hr  */
.hr {
  margin-top: 125px;
}

@media (max-width: 991px) {
  .hr {
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .hr {
    margin-top: 20px;
  }
}

/* section4 */
.section4 {
  margin-top: 100px;
}

.section4 .row .left-item {
  display: flex;
  justify-content: center;
  align-content: center;
}

@keyframes right-to-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.section4 .row .left-item img {
  width: 280px;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  animation: right-to-left 2s ease-out;
}

.section4 .row .right-item {
  height: 100%;
  padding: 50px;
  padding-right: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.section4 .row .right-item .desc {
  color: var(--color-text);
  text-align: justify;
}

@media (max-width: 991px) {
  .section4 {
    margin-top: 50px;
  }

  .section4 .row .right-item {
    padding: 50px;
  }
}

@media (max-width: 575px) {
  .section4 {
    margin-top: 15px;
  }
}

/* section 5 */
.section5 {
  margin-top: 50px;
  background-image: url(../img/work-process-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section5 .row1 .box-title .title {
  color: white;
}

.section5 .row1 .box-title .desc {
  color: white;
}

.section5 .row2 .tag {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background: white;
  padding: 28px;
  margin-bottom: 80px;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  transition: transform 0.5s;
}

.section5 .row2 .tag:hover {
  transform: translateY(-10%);
}

.section5 .row2 .tag::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -10px;
  right: -10px;
  background: white;
  opacity: 0.15;
  border-radius: 20px;
  z-index: -1;
}

.section5 .row2 .tag .tag-img {
  width: 100%;
  margin-bottom: 10px;
}

.section5 .row2 .tag .tag-title {
  margin-bottom: 10px;
  color: var(--color-black);
  font-size: 17px;
  font-weight: 300;
}

.section5 .row2 .tag .tag-desc {
  color: var(--color-text);
  font-size: 14px;
}

/* end section 5 */

/* section 6 */
.section6 .row .inner-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
}

.section6 .row .inner-tag .tag-img {
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 16px;
}

.section6 .row .inner-tag .tag-content {
  color: var(--color-text);
  letter-spacing: 0.8px;
  font-size: 15px;
}

.section6 .row .inner-tag .tag-info {
  display: flex;
  align-items: center;
  width: 100%;
  transition: transform 0.5s;
}

.section6 .row .inner-tag .tag-info:hover {
  transform: translateX(10%);
}

.section6 .row .inner-tag .tag-info .ava {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 26px;
}

.section6 .row .inner-tag .tag-info .info {
  color: var(--color-black);
}

.section6 .row .inner-tag .tag-info .info .role {
  color: var(--color-pink);
}

/* end section 6 */

/* section 7 */
.section7 {
  background: var(--color-bg);
}

.section7 .row2 {
  padding-bottom: 80px;
}

.section7 .row2 .subscription {
  border-radius: 20px;
  background: white;
  text-align: center;
  padding: 30px;
  margin-bottom: 40px;
}

.section7 .row2 .subscription .title {
  margin-bottom: 20px;
  font-size: 17px;

  color: var(--color-black);
}

.section7 .row2 .subscription .price-tag {
  padding: 20px;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.section7 .row2 .subscription .price-tag-purple {
  background: var(--color-purple);
}

.section7 .row2 .subscription .price-tag-pink {
  background: var(--color-pink);
}

.section7 .row2 .subscription .price-tag .price {
  font-weight: 500;
  font-size: 28px;
}

.section7 .row2 .subscription .price-tag .price::before {
  content: "$";
  margin-right: 5px;
}

.section7 .row2 .subscription .list-features {
  list-style: none;
  padding: 0 30px;
  margin-bottom: 30px;
}

.section7 .row2 .subscription .list-features .feature {
  margin-bottom: 20px;
  font-size: 13px;
  color: var(--color-text);
}

.section7 .row2 .subscription .button {
  padding: 10px 20px;
  font-size: 13px;
}

/* end section 7 */

/* section 8 */
.section8 {
  background-image: url(../img/fun-facts-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 150% 150%;
}

.section8 .inner-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.section8 .inner-wrap .item {
  padding: 100px 40px;
  transition: transform 0.6s;
}

.section8 .inner-wrap .item:hover {
  transform: translateY(-10%);
}

.section8 .inner-wrap .item-img img {
  margin-top: 20px;
}

.section8 .inner-wrap .item-img .up img {
  margin-bottom: 20px;
}

@media (max-width: 1199px) {
  .section8 .inner-wrap .item-img {
    display: none;
  }

  .section8 .inner-wrap .item {
    width: 40%;
    padding: 0 40px;
  }

  .section8 .inner-wrap .item .title {
    margin-top: 30px;
  }

  .section8 .inner-wrap .item .desc {
    margin-bottom: 30px;
  }

  .section8 {
    background-size: cover;
  }
}

@media (max-width: 575px) {
  .section8 .inner-wrap .item-img {
    display: none;
  }

  .section8 .inner-wrap .item {
    width: 80%;
    padding: 0 40px;
  }

  .section8 .inner-wrap .item .title {
    margin-top: 30px;
  }

  .section8 .inner-wrap .item .desc {
    margin-bottom: 30px;
  }

  .section8 {
    background-size: cover;
  }
}

.section8 .inner-wrap .item .title {
  color: white;
  font-weight: bold;
  font-size: 36px;
}

.section8 .inner-wrap .item .desc {
  color: white;
  font-size: 17px;
}

/* end section 8 */

/* section 9 */
.section9 .row2 .tag {
  text-align: center;
  margin-bottom: 50px;
}

.section9 .row2 .tag img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
}

.section9 .row2 .tag .tag-content .title {
  font-size: 18px;
  color: var(--color-black);
}

.section9 .row2 .tag .tag-content .title:hover {
  color: var(--color-pink);
}

.section9 .row2 .tag .tag-content .desc {
  margin: 20px 0 32px 0;
  font-size: 13px;
  color: var(--color-text);
}

.section9 .row2 .tag .tag-content .button {
  padding: 12px 20px;
  font-size: 13px;
}

/* end section 9 */

/* section 10 */
.section10 {
  background: var(--color-bg);
}

.section10 .row2 .inner-content .title {
  font-size: 18px;
  margin-bottom: 30px;
}

.section10 .row2 .inner-content .desc {
  margin-bottom: 28px;
  font-size: 14px;
  letter-spacing: 0.6px;
  color: var(--color-text);
}

.section10 .row2 .inner-form .sub-row1 .input {
  padding: 20px;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 1px;
  font-size: 13px;
}

.section10 .row2 .inner-form .sub-row1 .input::placeholder {
  font-size: 13px;
  color: var(--color-text);
}

.section10 .row2 .inner-form .sub-row1 .input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.section10 .row2 .inner-form .sub-row2 .textarea {
  padding: 20px;
  width: 100%;
  height: 130px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 1px;
  font-size: 13px;
}

.section10 .row2 .inner-form .sub-row2 .textarea::placeholder {
  font-size: 13px;
  color: var(--color-text);
}

.section10 .row2 .inner-form .sub-row2 .textarea:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.section10 .row2 .inner-form .sub-row3 .button {
  padding: 12px 20px;
  font-size: 13px;
}

.section10 .row2 {
  padding-bottom: 100px;
}

/* end section 10 */

/* footer */
.footer {
  background: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
}

.footer .inner-upper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer .inner-upper .icon i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 30px 15px 15px 15px;
  background: white;
  color: var(--color-purple);
  transition: all 0.6s;
}

.footer .inner-upper .icon i:hover {
  background: var(--color-pink);
  color: white;
  transition: all 0.6s;
}

.footer .inner-lower {
  text-align: center;
  margin: 10px 0 0 0;
  padding: 20px;
  font-size: 13px;
  color: white;
}

/* end footer */
