@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --color-text-pink: #f9afcf;
  --color-text: #8c8c8c;
  --color-pink: #f6589e;
  --color-purple: #8261ee;
  --color-black: #1e1e1e;
  --color-bg: #f2f2fe;
}

html {
  scroll-behavior: smooth;
}

::-moz-selection {
  background: var(--color-pink);
}

::selection {
  background: var(--color-pink);
}

body {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* box title */
.box-title {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
}

.box-title .title {
  font-size: 28px;
  margin-bottom: 30px;
  color: var(--color-black);
  font-weight: 500;
  letter-spacing: 0.8px;
}

.box-title .desc {
  font-size: 15px;
  color: var(--color-text);
  letter-spacing: 0.8px;
  margin: 0 250px;
}

@media (max-width: 991px) {
  .box-title .desc {
    margin: 0;
  }
}
/* end box title */
/* button  */
.button {
  display: inline-block;
  padding: 10px 40px;
  border-radius: 40px;
  color: white;
  transition: all 0.4s;
}

.button:hover {
  color: white;
  transition: all 0.4s;
}

.button-pink {
  background-color: var(--color-pink);
}

.button-pink:hover {
  background-color: var(--color-purple);
}

.button-purple {
  background-color: var(--color-purple);
}

.button-purple:hover {
  background-color: var(--color-pink);
}

/* end button  */

/*# sourceMappingURL=base.css.map */
